table.products td, table.products th, table.products td:first-child div {
    min-width: 5vw;
    max-width: 5vw;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

table.products td:last-child div {
    min-width: 7vw;
    max-width: 7vw;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

table.products td:nth-child(2), table.products th:nth-child(2) {
    min-width: 8vw;
    max-width: 8vw;
}

table.products td:first-child, table.products th:first-child {
    min-width: 9.5vw;
    max-width: 9.5vw;
}

table.products td:last-child, table.products th:last-child {
    min-width: 11.5vw;
    max-width: 11.5vw;
}

@media screen and (max-width: 800px) {

    table.products td, table.products th, table.products td:first-child div {
        min-width: 11vw;
        max-width: 11vw;
    }

    table.products td:last-child div {
        min-width: 18vw;
        max-width: 18vw;
    }

    table.products td:nth-child(2), table.products th:nth-child(2) {
        min-width: 20.2vw;
        max-width: 20.2vw;
    }

    table.products td:first-child, table.products th:first-child {
        min-width: 20vw;
        max-width: 20vw;
    }

    table.products td:last-child, table.products th:last-child {
        min-width: 27vw;
        max-width: 27vw;
    }

}