td:hover,th:hover,input:disabled:hover{ 
  cursor: default;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial;
  font-size: 2.5vh;
}

table,input,select,button {
  font-size: 2.5vh;
}

table,input,select,button,div{
  border-radius: 4px;
  border: none;
}

.quarter {
  width: 10.475vw;
  padding: 1vh 1vw;
  margin: 1vh 0.5vw;
  float: right;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.cancel {
  background-color: #C5C5C5;
  font-weight: bold;
}

select, option, input {
  background-color: #F4F4F4;
  border: none;
  outline: none;
}

.floatright {
  float: right;
}

input.quarter{
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  div.left, div.right {
      display: none;
  }
  div.left.show, div.right.show {
      display: block;
  }
  .quarter {
      width: 23vw;
  }
}


div#alert {
  position: absolute;
  top : 6vh;
  left : 2vw;
  background-color: grey;
  padding: 0;
  opacity: 0.9;
  height: 93vh;
  width: 96vw;
  font-size: 5vh;
  z-index: 4;
}

div#alert div#textalert {
  font-weight: bold;
  color: black;
  text-align: center;
  height: 68vh;
  width: 92vw;
  padding: 2vh 2vw;
  box-sizing: content-box;
  overflow: hidden;
  overflow-y: scroll;
  word-break: break-all;
}

div#alert div#textalert.alertremovefortable {
  width: 96vw;
  height: 72vh;
  padding: 0;
  overflow: hidden;
  overflow-y: none;
}

div#alert div#textalert div#dividetext {
  padding: 1vh 2vw;
  height: 20vh;
  box-sizing: content-box;
  overflow: hidden;
  overflow-y: scroll;
}

div#alert div#textalert div#dividetable {
  padding: 1vh 2vw;
  height: 48vh;
  box-sizing: content-box;
  overflow: hidden;
  overflow-y: scroll;
}

div#alert div#textalert table {
  text-align: center;
  border-collapse: collapse;
  height: 100%;
}

div#alert div#textalert table th:nth-child(1), div#alert div#textalert table td:nth-child(1) {
  max-width: 44vw;
  min-width: 44vw;
}

div#alert div#textalert table th, div#alert div#textalert table td {
  max-width: 15vw;
  min-width: 15vw;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

div#alert div#textalert table tr.last {
  height: 100%;
}

div#alert button#yesbutton{
  height: 5vh;
  width: 18vw;
  float: left;
  box-sizing: content-box;
  padding: 5vh 5vw;
  margin: 2vh 2vw;
  font-size: 5vh;
  opacity: 0.6;
  background-color: green;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

div#alert button#nobutton{
  height: 5vh;
  width: 18vw;
  float: right;
  box-sizing: content-box;
  padding: 5vh 5vw;
  margin: 2vh 2vw;
  font-size: 5vh;
  opacity: 0.6;
  background-color: red;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}