td:hover,th:hover,input:disabled:hover{ 
  cursor: default;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial;
  font-size: 2.5vh;
}

table,input,select,button {
  font-size: 2.5vh;
}

table,input,select,button,div{
  border-radius: 4px;
  border: none;
}

select, option, input {
  background-color: #F4F4F4;
  border: none;
  outline: none;
}

input.quarter{
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  div.left, div.right {
      display: none;
  }
  div.left.show, div.right.show {
      display: block;
  }
}


